<div class="logos-wrapper">
  <!-- Group 1: Rummy Circle (Solo) -->
  <div class="logo-group solo">
    <div class="logo-item rc-logo">
      <img src="images/rc_b&w.png" alt="Rummy Circle" class="logo-img bw" />
      <img src="images/rc_color.png" alt="Rummy Circle" class="logo-img color" />
    </div>
  </div>

  <!-- Group 2: Worked through tenXengage (Google & Cisco) -->
  <div class="logo-group combined">
    <span class="group-label">Worked through tenXengage</span>
    <div class="group-logos">
      <div class="logo-item google-logo">
        <img src="images/google_b&w.png" alt="Google" class="logo-img bw" />
        <img src="images/google_color.png" alt="Google" class="logo-img color" />
      </div>
      <div class="logo-item cisco-logo">
        <img src="images/cisco_b&w.png" alt="Cisco" class="logo-img bw" />
        <img src="images/cisco_color.png" alt="Cisco" class="logo-img color" />
      </div>
    </div>
  </div>

  <!-- Group 3: Worked through Hurix Systems (National Geographic & McGraw Hill) -->
  <div class="logo-group combined">
    <span class="group-label">Worked through Hurix Systems</span>
    <div class="group-logos">
      <div class="logo-item netgio-logo">
        <img src="images/netgio_b&w.png" alt="National Geographic" class="logo-img bw" />
        <img src="images/netgio_color.png" alt="National Geographic" class="logo-img color" />
      </div>
      <div class="logo-item mcgrawhill-logo">
        <img src="images/mcgrawhill_b&w.png" alt="McGraw Hill" class="logo-img bw" />
        <img src="images/mcgrawhill_color.png" alt="McGraw Hill" class="logo-img color" />
      </div>
    </div>
  </div>

  <!-- Group 4: Blue Dart (Solo) -->
  <div class="logo-group solo">
    <div class="logo-item bluedart-logo">
      <img src="images/bluedart_b&w.png" alt="Blue Dart" class="logo-img bw" />
      <img src="images/bluedart_color.png" alt="Blue Dart" class="logo-img color" />
    </div>
  </div>
</div>

<!-- Centered Mouse Scroll Icon -->
<div class="scroll-indicator">
  <img src="images/mousescroll_ico.png" alt="Scroll Down" class="scroll-icon" />
</div>
