<div class="marquee-wrapper">
  <div class="marquee-track">
    <div class="marquee-item">When a real <span class="highlight">problem</span> goes unnoticed,  it keeps hammering inside my mind.  That’s when a product is born.</div>
    <div class="marquee-item">When a real <span class="highlight">problem</span> goes unnoticed,  it keeps hammering inside my mind.  That’s when a product is born.</div>
    <div class="marquee-item">When a real <span class="highlight">problem</span> goes unnoticed,  it keeps hammering inside my mind.  That’s when a product is born.</div>
    <div class="marquee-item">When a real <span class="highlight">problem</span> goes unnoticed,  it keeps hammering inside my mind.  That’s when a product is born.</div>
  </div>
</div>
